$colorBackground: rgb(225, 225, 225);
$colorBackgroundMenuMobile: rgb(246, 248, 255);
$colorTextHover: #132366ce;
$colorArticleShifted: rgba(0, 0, 0, 0.3);

/* Big screens to 1920px (widths smaller than 1920px row) */
@media only screen and (max-width: 1920px) {

    .blog-nav {    
        .arrow-buttons ion-icon {
                top: 60%;
        }
    }
}

/* Big screens to 1440px (widths smaller than 1600px row) */
@media only screen and (max-width: 1600px) {

    .social-icon {
        width: 30px;
        height: 30px;
    }

    .blog-nav {
        width: 40px;

        .article-social-shares {
            padding-top: 20px;
    
            .social-icon-common ion-icon,
            .social-icon {
                width: 30px;
                height: 30px;
                opacity: 0.5;
            }
    
            .social-icon {
                margin-top: 5px;
            }    
        }

        .arrow-buttons ion-icon {
            width: 40px;
            top: 60%;
        }
    }

    .App {
        header {

            padding: 0.5% 0.2%;
        }

        .Blog {
            width: 90%;
            font-size: 80%;

            .ArticlePage { 
                .ArticleBlock {
                    .ArticleContainer {
                       .Article {
                           .article-title-name {
                               display: block;
                           }

                            .article-slide {
                                .article-slide-title {
                                    .article-slide-title-name {
                                        display: none;
                                    }
                                }
                            }
                       }
                    }
                }
            }

            .PreviewsPage {
                .PreviewsGrid {
                    .PreviewsItem {
                        width: 250px;
                    }
                }
            }

            .SideList {
                .Quotes {
                    min-height: 300px;
                }
            }
        }
    }

}


/* Small tablets to big tablets from 768px to 1023px */
@media only screen and (max-width: 1023px) {

    .App {
        header {
            padding: 0 15%;
            height: 75px;

            .main-nav {   
                flex: 1;

                ul {        
                    li { 
                        font-size: 80%;
                    }
                }
            }
        }

        .Blog {
            width: 80%;

            .ArticlePage {
                .ArticleBlock {
                    .blog-nav {
                        .article-social-shares { display: none; }
                    }

                    .ArticleContainer {
                        .Article {
                            .article-social-shares {
                                display: -webkit-box;
                                display: -ms-flexbox;
                                display: flex;
                                margin-top: 10px;

                                .social-icon-common ion-icon,
                                .social-icon {
                                    width: 25px;
                                    height: 25px;
                                    opacity: 0.5;
                                }
        
                                .social-icon {
                                    transform: scale(1);
                                    cursor: pointer;
                                    margin-left: 5px; 
                                    outline: 0;
                                    opacity: 0.7;
                                    transition: opacity 0.4s, transform 0.4s;                        
                                }
                                
                                .social-icon:hover {
                                    transform: scale(1.1);
                                    opacity: 1;
        
                                    .tooltip {
                                        visibility: visible;
                                    }
                                }
                            }

                            .article-content iframe {
                                width: 100%;
                                // height: auto;
                            }
                        }
                    } 
                }
            }

            .SideList {
                .Quotes {    
                    .quote-text {
                        line-height: 0.9;
                    }
                }
            }
        }

        footer {           
            flex-direction: column;
            text-align: center;
            height: 100px;
            margin-bottom: 0;

            .copyright-text { 
                font-size: 70%; 
                margin: 0 10px;
            }

            .social-icons {
                margin: 10px;

                .social-icon {
                    a {
                        margin: 5px;
                    }
                }
            }    
        }
    }
    
}

/* Small phones to small tablets from 624px to 767px */
@media only screen and (max-width: 767px) {

    h1 {
        font-size: 180%;
    }

    .App {
        header {
            padding: 0 2%;
            height: 60px;

            .site-title {
                font-size: 80%;
            }
            .main-nav {    
                -webkit-box-flex: 3;    
                    -ms-flex: 3;    
                        flex: 3;
            }
        }

        .Blog { 
            width: 100%;
            padding-right: 1%;

            .blog-nav {
                width: 30px;

                .arrow-buttons ion-icon { width: 30px; }
            }

            .PreviewsPage 
            .ListPreviews 
            .PreviewsItem 
            .article-preview-content 
            .article-preview-title 
            .view-count {    
                ion-icon {
                    width: 12px;
                    height: 12px;
                }
            }

            .ArticlePage { 
                .ArticleBlock {
                    .ArticleContainer {
                        padding: 1em;
                    }
                }
            }

            .SideList {
                width: 20%;

                .Quotes {
                    min-height: 240px;
                }
            }        
        }
    }
}

/* Small phones to small tablets from 481px to 623px */
@media only screen and (max-width: 623px) {
    .App {
        .Blog {           
            padding-top: 0;

            .blog-nav {
                width: 20px;

                .arrow-buttons ion-icon { width: 20px; }
            }

            .ArticlePage {
                .ArticleBlock {
                    .ArticleContainer { 
                        padding: 0.2em;
    
                        .Article {                            
                            .article-info,
                            .article-social-shares,
                            .article-content {
                                margin-top: 5px;
                            }

                            .article-info {
                                // font-size: 80%;
    
                                .view-count {
                                    display: flex;
    
                                    ion-icon {
                                        width: 20px;
                                        height: 20px;
                                    }
                                    span {
                                        margin: 3px 0 0 3px;
                                    }
                                }
                            }
                            
                            // .article-content { font-size: 70%; }
                        }
                    }      
                }
            }

            .SideList { 
                padding-top: 0.2em;
                margin-left: 0.5em;

                .Quotes { display: none; }
            }

        }
    }
}

/* Small phones from 0px to 480px */
@media only screen and (max-width: 480px) {

    .ListTitles {                
        width: 200px;
        padding-left: 10px;

        .ListTitlesItem {
            font-weight: 300;
            font-size: 80%;
            padding: 4px 4px;
            -webkit-transition: background-color 0.2s;
            transition: background-color 0.2s;
        }

        .ListTitlesItem:hover {
            cursor: pointer;
            background-color: $colorBackground;
        }

        .ListTitlesItem.active {
            font-weight: bold;
            font-style: italic;

            ion-icon {
                color: $colorTextHover;
                margin-right: 5px;
            }
        }
    }

    .App {
        header {
            height: 50px;

            .site-title {
                -webkit-box-flex: 2;
                    -ms-flex: 2;
                        flex: 2;

                img {
                    // width: 100%;
                    max-width: 200px;
                    // height: auto;
                }
            }

            .main-nav {   
                -webkit-box-flex: 1;   
                    -ms-flex: 1;   
                        flex: 1;
                margin-right: 10px;
            }
        }

        .Blog {
            font-size: 70%;
            padding-left: 1%;
            padding-right: 3%;
            overflow-x: hidden;
            // margin-top: 100px; //55px without text "beta-version"            

            .ArticlePage {
                width: 100%;
                margin-right: 0;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;

                .ArticleBlock {
                    .blog-nav { display: none }

                    .ArticleContainer {
                        padding: 0.5em;    
                        min-height: 100vh;
                    } 
                }
            }

            .ArticlePage.shifted {
                margin-right: -200px;
                background: $colorArticleShifted;
                -webkit-filter: brightness(50%);
                        filter: brightness(50%);
            }

            .SideList { display: none; }
    
            .SideBar { 
                display: block; 
                width: 0;
                padding-bottom: 40px;
            }
            .SideBar.open {
                width: 200px;
                overflow-y: auto;
            }

        }
    }
}